@model iys.Models.LoginViewModel

@{
    ViewBag.Title = "Log in";
}

<style>
    body {
        text-align: justify;
        font-family: Tahoma,Geneva,sans-serif !important;
        font-size: 12px;
    }
</style>
<div class="container">
    <div class="col-md-6">
        <div class="col-md-12">

            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <b style="font-size:14px">Yerel bir kullanıcı adı ile giriş yapın.</b>
                <hr />
                @Html.ValidationSummary(true)
                <div class="form-group">
                    <div class="col-md-4">
                        @Html.LabelFor(m => m.UserName)
                    </div>
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.UserName)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-4">
                        @Html.LabelFor(m => m.Password)
                    </div>
                    <div class="col-md-6">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="col-md-4"></div>
                    <div class=" col-md-6">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)<b>Beni Hatırla</b>
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="col-md-4"></div>
                    <div class=" col-md-6">
                        <input type="submit" value="GİRİŞ" class="btn btn-default" style="font-family:Tahoma,Geneva,sans-serif;font-weight:bold"/>
                    </div>
                </div>
                
                <div>
                    <div class="col-md-4"></div>
                    <div class="col-md-6">@Html.ActionLink(" Kayıt Olun", "Register")
                    </div>
                </div>
                
            }
        </div>
        <div class="col-md-2"></div>

    </div>
    @*<div class="col-md-8">
            <section id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new { Action = "ExternalLogin", ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </div>*@
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}