@using Microsoft.AspNet.Identity
<style>
    .link {
        text-align: right;
        font-family: Tahoma,Geneva,sans-serif;
        font-size: 12px;
    }
</style>
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            @*<li> <a href="@Url.Action("changeLanguage", "Base", new { lang ="TR"})"><img src="http://atommucizesi.imanisiteler.com/images/trBayrak.png" /></a></li>
            <li><a href="@Url.Action("changeLanguage", "Base", new { lang ="EN"})"><img src="http://atommucizesi.imanisiteler.com/images/engBayrak.png" /></a></li>*@
            <li><a class="header-yazi-ozellik" href="javascript:document.getElementById('logoutForm').submit()">ÇIKIŞ</a></li>

            @*@if (Roles.IsUserInRole("Admin"))
            {*@
                <li>@Html.ActionLink("YÖNET", "Manege", "Home", new {@class="link" })</li>
            @*}
            else
            {
                <li>@Html.ActionLink("Eğitim", "index", "Dashboard")</li>
            }*@

            <li>

                @Html.ActionLink(User.Identity.GetUserName(), "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "navbar-brand header-yazi-ozellik sol-border ", title = "Manage" })

            </li>

        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        @*<li> <a href="@Url.Action("changeLanguage", "Base", new { lang ="TR"})"><img src="http://atommucizesi.imanisiteler.com/images/trBayrak.png" /></a></li>
        <li><a href="@Url.Action("changeLanguage", "Base", new { lang ="EN"})"><img src="http://atommucizesi.imanisiteler.com/images/engBayrak.png" /></a></li>*@
        <li> <a class=" header-yazi-ozellik sol-border link" href="/Account/Register" id="registerLink">KAYIT OL</a></li>
        <li> <a class="header-yazi-ozellik link" href="/Account/Login" id="loginLink">GİRİŞ</a></li>

    </ul>
}
